
.carrito {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  padding-top: 10%;
  padding-bottom: 10%;
}

.productos {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 70%;
}

.tituloCarrito {
  text-align: center;
  margin-bottom: 20px;
}

