/* estilos para los overoles y los cascos de las paginas */
/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    

} */

.paginacontainer{
    background-color: black;
}

.container {
    color: #2DC289;
    text-align: center;
    width: 90%;
    margin-top: 5%;
    margin-left: 4.5%;
    margin-bottom: 5%;
    padding-top: 3%;
}

.titulo {
    color: #2DC289;
    text-align: center;
    font-size: 40px;
    margin-bottom: 2%;
}

.carrusel-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px; 
}

.carrusel {
    width: 95%;
    margin-left: 3.5%;
    display: flex;
    flex-wrap: wrap;
    gap: 59px;
}

.containerFooter{
    margin-top: 100px;
    padding-top: 30px;
}
