.container {
    text-align: center;
    width: 98vmax;
    margin: auto;
    background-color: black; 
    padding: 20px; 
}

.carrusel{
    width:95%;
    margin-left: 2.5%;
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    margin-top: 100px;
}
