<<<<<<< HEAD
/*EditarReseña.module.css*/
=======
/* EditarReseña.module.css */
>>>>>>> 073de4a1e0b822c7eddf6e7be1e6fcb83fe69e88
.editarReseña {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}

.textArea {
<<<<<<< HEAD
  width: 100%;
  height: 60px;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
=======
  max-width: 100%;
  height: 80px;
  border: 1px solid #ddd;
  border-radius: 7px;
  padding: 10px;
  font-size: 14px;
  font-weight: 400;
>>>>>>> 073de4a1e0b822c7eddf6e7be1e6fcb83fe69e88
}

.starContainer {
  display: flex;
  gap: 5px;
}

.estrella {
  cursor: pointer;
<<<<<<< HEAD
}

.estrella.selected {
  color: gold;
=======
  color: white;
}

.estrella.selected {
  color: #2DC289;
>>>>>>> 073de4a1e0b822c7eddf6e7be1e6fcb83fe69e88
}

.saveButton,
.cancelButton {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.saveButton {
<<<<<<< HEAD
  background-color: #28a745;
  color: white;
}

.saveButton:hover {
  background-color: #218838;
}

.cancelButton {
  background-color: #dc3545;
=======
  background-color: #bebebe;
  color: rgb(0, 0, 0);
}

.saveButton:hover {
  background-color: #000000;
  color: white;
}

.cancelButton {
  background-color: #000000;
>>>>>>> 073de4a1e0b822c7eddf6e7be1e6fcb83fe69e88
  color: white;
}

.cancelButton:hover {
<<<<<<< HEAD
  background-color: #c82333;
}
=======
  background-color: #2DC289;
}
>>>>>>> 073de4a1e0b822c7eddf6e7be1e6fcb83fe69e88
