/* EliminarReseña.module.css */
.eliminarReseña {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}

.deleteButton,
.cancelButton {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.deleteButton {
  background-color: #dc3545;
  color: white;
}

.deleteButton:hover {
  background-color: #c82333;
}

.cancelButton {
  background-color: #6c757d;
  color: white;
}

.cancelButton:hover {
  background-color: #5a6268;
}