.box {
  border: 1px solid #ffffff;
  border-radius: 10px;
  overflow: hidden;
  background-color: darkorange;
}

.section {
  margin-bottom: 2%;
}

.sectiontitle {
  text-align: left;
  margin-bottom: 0px;
  color: #2dc289;
  padding-left: 2.5%;
  background-color: blue;
}

.checkboxgroup {
  background-color: brown;
  display: flex;
  flex-wrap: wrap;
  gap:0.4%;
}

.checkboxLabel {
  background-color: #2dc289;
  display: flex;
  align-items: center;
  width: 150px;
  margin-left: 1%;
  margin-bottom: 10px;
  font-size: 15px;
}

.checkboxLabel input {
  width: 30%;
}
