.box {
  border: 0.1px solid #ffffff;
  border-radius: 10px;
  overflow: hidden;
  
}

.section {
  margin-bottom: 2%;
}

.sectiontitle {
  text-align: left;
  margin-bottom: 0px;
  color: #2dc289;
  padding-left: 2%;
  padding-top: 1%;
  
}

.checkboxgroup {
  display: flex;
  flex-wrap: wrap;
  gap: 1%;
}

.checkboxLabel {
  display: flex;
  align-items: normal;
  width: 10%;
  height: 10%;
  margin-left:3cm;
  margin-bottom: 10px;
  font-size: 14px;
  margin-right: 1cm;
}

.checkboxLabel input {
  width: 25px;
  height: 25px;
  margin-right: 10px;

}
