.box {
  border: 0.1px solid #ffffff;
  border-radius: 10px;
  overflow: hidden;
}

.section {
  margin-bottom: 2%;
}

.sectiontitle {
  text-align: left;
  margin-bottom: 0px;
  color: #2dc289;
  padding-left: 1.2%;
  padding-top: 1%;
}

.checkboxgroup {
  display: flex;
  flex-wrap: wrap;
  gap: 0.4%;
}

.checkboxLabel {
  display: flex;
  align-items: center;
  width: 150px;
  margin-left: 1%;
  margin-bottom: 10px;
  font-size: 15px;
}

.checkboxLabel input {
  width: 30%;
}
