
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.footer {
    background-color: black;
    padding: 20px 0;
    text-align: center;
    border-top: 1px solid #2DC289;
    width: 100%;
    bottom: 0;
}

.footer-links_a{
    text-decoration: none;
    cursor:pointer;
}

.footer-links_a:hover {
    color: #00fe99;
  }
.footer-links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    cursor: 'pointer';
    text-decoration: none;
}



.footer-links a {
    color: #00fe99;
    text-decoration: none;
    margin: 0 10px;
    font-size: 16px;
}

.footer-links span {
    color: #00fe99;
    margin: 0 5px;
}

.footer-icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-icons img {
    color: #00fe99;
    text-decoration: none;
    font-size: 24px;
    margin: 0 10px;
}


