.box-container-img{
    width: 445px;
}

.img-principal img{
    width: 430px;
    height: 300px;
}

.box-container-childs img{
    width: 95px;
    height: 60px;
}

.box-container-childs{
    margin-top: 100px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.img-principal img {
    width: 370px;
    height: 350px;
}

.box-container-childs {
    display: flex;
    gap: 20px;
    padding-top: 10px;
    box-sizing: border-box;
}

.box-container-childs img {
    width: 78px;
    height: 66px;
    cursor: pointer;
}
