.box_container_page{
    background-color: #1B1A1A;
    min-width: 100vw;
    min-height: 100vh;
    overflow: hidden;
}

.product{
    width: 80%;
    margin-left: 10%;
    margin-top: 150px;
}

.aboutProduct{
    margin-top: 200px;
    display: flex;
}

.information{
    margin-left: 50px;
}

