.box_container_page{
  min-width: 97vw;
  min-height: 100vh;
  overflow: hidden;
  background-color: #1b1b1b;
}

.product{
  width: 80%;
  margin-left: 10%;
  margin-top: 100px;
}

.aboutProduct{
  margin-top: 200px;
  display: flex;

}

.information{
  margin-left: 50px;
  width: 65%;
  height: 250px;
}

.descripcion{
  margin-top: 50px;
}