<<<<<<< HEAD
/*ListasReseñas.module.css*/
=======
/* ListasReseñas.module.css */
>>>>>>> 073de4a1e0b822c7eddf6e7be1e6fcb83fe69e88
.reseñas {
  margin-top: 20px;
}

.reseña {
  background-color: #1B1A1A;
<<<<<<< HEAD
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
=======
  border: 0.3px solid #ddd;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 10px;
>>>>>>> 073de4a1e0b822c7eddf6e7be1e6fcb83fe69e88
}

.reseñaHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rating {
  font-weight: bold;
}

.actions {
  display: flex;
  gap: 10px;
}

.actions button {
<<<<<<< HEAD
  padding: 5px 10px;
  border: none;
  background-color: #007bff;
  color: white;
=======
  width: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  border: none;
  background-color: #eae9e9;
  color: rgb(0, 0, 0);
>>>>>>> 073de4a1e0b822c7eddf6e7be1e6fcb83fe69e88
  border-radius: 5px;
  cursor: pointer;
}

.actions button:hover {
<<<<<<< HEAD
  background-color: #0056b3;
=======
  background-color: #bebebe;
}

.puntuacion{
  color: white;
  font-size: 18px;
>>>>>>> 073de4a1e0b822c7eddf6e7be1e6fcb83fe69e88
}

.comentario {
  margin-top: 10px;
<<<<<<< HEAD
}
=======
  color: white;
  font-size: 16px;
}

.star {
  color: #ffffff;
  font-size: 1.5rem;
  margin-right: 0.1rem;
}

.selected {
  color: #2DC289;
  font-size: 1.5rem;
  margin-right: 0.1rem;
}

.renderStars{
  margin-left: 15px;
}

.containerComentario{
  margin-top: 15px;
  text-align: justify;
}
>>>>>>> 073de4a1e0b822c7eddf6e7be1e6fcb83fe69e88
