.opcion-sesion-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.opcion-sesion-box {
  background-color: #1a1a1b;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  text-align: center;
  color: #fff;
  width: 50%;
}

.img-helmet {
  height: 40px;
}

.login-button {
  width: 70%;
  padding: 10px;
  background-color: #908c8c;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  margin-top: 3%;
}

.login-button:hover {
  background-color: #2DC289;
}

.close-button {
  display: block;
  background-color: #888;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  margin-top: 3%;
  width: 20%;
  margin-left: 40%;
}