.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1%;
    padding: 10px;
}

.buscador {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
    margin-left: 82%;
    color: white;
}

.buscador::placeholder{
    color: white;
}

.agregarProducto:hover {
    background-color: #2DC289;
}

.containerTabla {
    margin: 0 auto;
    width: 92%;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
}

.eliminarButton,
.editarButton {
  background: none;
  border: none;
  cursor: pointer;

}

.eliminarButton:hover, .editarButton:hover{
    background-color: #45a049;
  }