
.cardProducto {
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.cardProducto:hover {
    transform: perspective(1000px) translateZ(50px); 
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2); 
}

.producto {
    width: 300px;
    height: 250px;
    transition: transform 0.3s ease; 
}

.cardProducto:hover .producto {
    transform: perspective(1000px) translateZ(100px);
}


.informacion_producto {
    margin-top: -7px;
    background-color: #1B1A1A;
    text-align: center;
    color: white;
}


.nombreProducto {
    font-size: 15px;
}
