.editar-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px); /* Esta es la propiedad que hace el fondo borroso */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .editar-modal-content {
    background: #1e1e1e;
    padding: 20px;
    border-radius: 8px;
    width: 90%;
    max-width: 400px;
    color: #ffffff;
    text-align: center;
    position: relative;
  }
  
  .editar-box-sonAdd {
    display: flex;
    flex-direction: column;
  }
  
  .editar-box-sonAdd label {
    margin: 10px 0 5px 0;
    text-align: left;
  }
  
  .editar-box-sonAdd input, .editar-box-sonAdd select {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 15px;
    background-color: #333333;
    color: #ffffff;
  }
  
  .editar-box-sonAdd input::placeholder, .editar-box-sonAdd select {
    color: #888888;
  }
  
  .editar-actionsProduct {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .editar-actionsProduct button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .editar-btn_cancelar {
    background-color: #888888;
    color: #ffffff;
  }
  
  .editar-btn_addP {
    background-color: #2DC289;
    color: #ffffff;
  }
  
  .editar-btn_cancelar:hover {
    background-color: #aaaaaa;
  }
  
  .editar-btn_addP:hover {
    background-color: #24a76d;
  }
  